.chatbotCol {
  height: 100%;
  padding: 0.9375rem 0 0.625rem 0;
  margin: auto;
  text-align: left;
  max-width: 25rem;
  min-width: 9.375rem;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 4rem);
}

.usertext {
  text-align: right;
}

#mainContent {
  height: 100%;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

#payload-column {
  display: none;
}  

#payload-column.full {
  width: 100%;
  max-width: none;
  min-width: initial;
} 


